# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Maven
**/target/
*.jar
*.war
*.ear
*.class

# Node
**/node_modules/
**/build/
**/dist/
**/coverage/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
.env.*.local
